# Junk left behind by...
# autotools
*.log
*.cache
*.m4
*.o
*/*/*.oodepcomp
install-sh
missing
configure
config.status

# gprof
*.out
*/*.out

# objdump
*.s

# vim
*.swp
.*.sw*
*/*/.*.sw* # ffs

# Python
*.pyc
lib/*/docs/*
